/*font style*/
html {
	font-family: arial;
}
/*font style end*/


/*input style*/
input {
	height: 25px;
}

.input-style-1 {
	width: 65%;
	color: #000;
	border: solid 2px #c9c9c9;
	margin-left: 15px;
}

.input-style-2 {
	width: 30%;
	max-width: 69px;
	height: 33px;
	background-color:#44c767;
	border-radius:10px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.input-style-2:hover {
	background-color:#5cbf2a;
}
.input-style-2:active {
	position:relative;
	top:1px;
}
/*input style end*/

/*ul style*/
ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*list-style-1*/
ul.list-style-1 li{
	border-radius: 6px;
	line-height: 60px;
	margin: 15px 15px;
	background-color: rgba(197, 190, 190, 0.92); 
}
ul.list-style-1 li:hover {
	background-color: rgba(197, 190, 190, 0.52); 
}

/*list-style-2*/
ul.list-style-1 li:last-child {
	margin-bottom: 30px;
}

ul.list-pagination {
	line-height: 60px;
	float: right;
}
ul.list-pagination li{
	position: relative;
	float: left;
}
ul.list-pagination li a {
	color: inherit;
	padding: 10px;
	background-color: #ebebeb;
	border-left: 1px solid rgba( 0, 0, 0, 0.1);
	text-decoration: none;
}
/*TODO: */
ul.list-pagination li a:hover,
ul.list-pagination li a:active,
ul.list-pagination li a:focus {
	background-color: rgba(235, 235, 235, 0.50);
	text-decoration: underline;
}
ul.list-pagination li:first-child a {
	border-radius: 6px 0 0 6px;
}
ul.list-pagination li:last-child a {
	border-radius: 0px 6px 6px 0px;
}
ul.list-pagination li:last-child {
	margin-right: 15px;
}
/*ul style end