.container {
	font-family:arial;
}
/*panel*/
.panel-style-1 {
	margin: 15px 7px;
	border-radius: 6px;
	background-color: #eee;
	padding-top: 15px;
}
.panel-style-1 > .panel-body {
	min-height: 450px;
}
.panel-style-1>.panel-footer {
	/*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
	border-radius: 0 0 6px 6px;
	background-color: rgba(216, 213, 213, 0.83);
	min-height: 60px;
	position: relative;
}

/*row style 1*/
.row-style-1 {
	margin: 15px 7px;
}

/*input common*/
input {
	height: 25px;
}
.input-style-1 {
	width: 65%;
	color: #000;
	border: solid 2px #c9c9c9;
	margin-left: 15px;
}

.input-style-2 {
	width: 30%;
	max-width: 69px;
	height: 33px;
	background-color:#44c767;
	border-radius:10px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.input-style-2:hover {
	background-color:#5cbf2a;
}
.input-style-2:active {
	position:relative;
	top:1px;
}

/*list common*/
ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*list-style-1*/
ul.list-style-1 li{
	border-radius: 6px;
	line-height: 60px;
	margin: 15px 15px;
	background-color: rgba(197, 190, 190, 0.92); 
}
ul.list-style-1 li:hover {
	background-color: rgba(197, 190, 190, 0.52); 
}

/*list-style-2*/
ul.list-style-1 li:last-child {
	margin-bottom: 30px;
}

ul.list-pagination {
	line-height: 60px;
	float: right;
}
ul.list-pagination li{
	position: relative;
	float: left;
}
ul.list-pagination li a {
	color: inherit;
	padding: 10px;
	background-color: #ebebeb;
	border-left: 1px solid rgba( 0, 0, 0, 0.1);
	text-decoration: none;
}
/*TODO: */
ul.list-pagination li a:hover,
ul.list-pagination li a:active,
ul.list-pagination li a:focus {
	background-color: rgba(235, 235, 235, 0.50);
	text-decoration: underline;
}
ul.list-pagination li:first-child a {
	border-radius: 6px 0 0 6px;
}
ul.list-pagination li:last-child a {
	border-radius: 0px 6px 6px 0px;
}
ul.list-pagination li:last-child {
	margin-right: 15px;
}

.active {
	box-shadow:inset 0px 0px 15px 3px #10397a;
	background-color:#2e466e;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

@media ( min-width: 768px ) {
	.container {
		width: 480px;
		margin: 0 auto;
	}
}

@media ( max-width: 480px ) {
	.container {
		width: 100%;
		margin: 0 auto;
	}

	.input-style-1, .input-style-2{
		display: block;
		width: 100%;
		margin-top: 15px;
		margin-right: 0px;
		margin-left: 0px;
	}

	.input-style-2 {
		max-width: 100%;
		max-height: 45px;
	}
}